--
-- PostgreSQL database dump
--

\restrict HzX2OdN9pSpKB4dwIUTd2TQN2lh77So7BKwTba1r4maGSKNBmSngknKBENQnBLQ

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: besluiten; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.besluiten (
    id uuid,
    agendapunt_id uuid,
    stemmingssoort text,
    besluitsoort text,
    besluittekst text,
    gewijzigdop timestamp with time zone
);


ALTER TABLE public.besluiten OWNER TO postgres;

--
-- PostgreSQL database dump complete
--

\unrestrict HzX2OdN9pSpKB4dwIUTd2TQN2lh77So7BKwTba1r4maGSKNBmSngknKBENQnBLQ

